<div class="row">
  <div class="col-sm-12">
    <h1>Online users</h1>

    <ngx-datatable
      class="material"
      [rows]="list"
      [columns]="columns">
      <ngx-datatable-column name="Id" prop="id"></ngx-datatable-column>
      <ngx-datatable-column name="User name" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="Id" prop="id">
        <template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/users', value]">View</a>
        </template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
