<md-card class="page page-login">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm" class="login-form">
      <div>
        <md-input placeholder="Username" formControlName="email" class="email">
          <md-hint align="end"
                   *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">
            Username is required
          </md-hint>
        </md-input>
      </div>
      <div>
        <md-input placeholder="Password" type="password" formControlName="password" class="password">
          <md-hint align="end"
                   *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
            Password is required
          </md-hint>
        </md-input>
      </div>
      <button type="submit" [disabled]="!loginForm.valid" md-raised-button color="primary">Login</button>
    </form>
  </md-card-content>
</md-card>
